*{
  margin: 0;
}
img,.testo,.testo-3 p{
  margin: 10px 25px;
}
#logo{
  background-image: url(../img/pattern.png);
  background-color:#4ea0ff;
  height: 170px;
}
.testo-2{
  margin: 5px 25px;
  font-size: small;
}
.testo-3{
  font-size: large;
}
.testo p{
  color: grey;
}
#logo img{
  width: 200px;
  margin-top: 90px;
}
.testo h1{
  font-size: 2rem;

}
.testo span{
  color: #4ea0ff;
}

.testo-3 span{
  background-color: yellow;

}

 


